In [2]:
import pandas as pd

In [8]:
df = pd.read_csv("resolved_words.csv")
df.head()

   Unnamed: 0                               0
0           0      development-1Phoebe Thomas
1           1          development-2MacKenzie
2           2   development-3Governor Angeloz
3           3  development-5Kitty Oppenheimer
4           4     development-6Sandra Collins

In [9]:
df = df.drop(columns='Unnamed: 0')

In [14]:
df['ID'] = df['0'].str.extract('(development-[0-9]{1,4})', expand=True)

In [39]:
df['Resolution'] = df['0']

In [41]:
df['Resolution'] = df['Resolution'].map(lambda x: x.lstrip('(development-[0-9]{1,4})'))

In [46]:
data = df

In [47]:
data=data.drop(columns=['0'])

In [49]:
data.to_csv('core_nlp_resolved.csv')